:root {
  --jeopardy-bg-color: #060CE9; 
}

html {
  margin: 0;
  padding: 0;
  font-size: 1.0em;
  font-weight: bold;
  text-align: center;
  line-height: 1.0;
  font-family: Arial, Monaco, monospace;
  color: white;
}

body {
  background-color: var(--jeopardy-bg-color);
}

p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  text-align: justify;
  line-height: 1.25em;

}

h1 {
  font-size: 2.0em;
  font-family: Georgia, Times, Serif;
  text-shadow: 2px 2px black;
}


button[type=button] {
  color: black;
  font-size: 1em;
  cursor: pointer;
  border-radius: 15px;
  padding: 15px;
  margin-left: 25px;
  display: inline-block;
  border: 2px solid black;
  border-radius: 5px;
  background: #f1f1f1;
  border-color: black;
}

button:hover {
  opacity: 0.7;
}

#answer:hover {
  opacity: 1.0;
}

input[type=text] {
  border-radius: 15px;
  width: 80%;
  padding: 15px;
  margin-left: 25px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input:focus {
  background-color: #ddd;
  outline: none;
}

select {
  background-color: #fff;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%; 
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
}

table, tr, td {
  color: white;
  background-color: black;
  border: 0.5px solid white;
  margin-right: auto;
  margin-left: auto;
}

/* The Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow-y: auto; /* Enable scroll if needed */
  background-color: black; /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  animation: blowUp .25s forwards;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  animation: blowUp .25s forwards;
}

@keyframes blowUp {
  0% {
    transform:scale(0);
    opacity:0;
  }
  100% {
    transform:scale(1);
    opacity:1;
  }
}